.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    /*ate aqui a caixa está na parte inferior direita da tela*/
    margin-top: -200px;
    /*a caixa sobe */
    margin-left: -200px;
    /*a caiva vai para a esquerda*/
    /*aora a caixa esta no meio certinho da pagina*/
    background: #272C34;
    border-radius: 10px;
    /*bordas arredondadas*/
    overflow: hidden;
    /*o overflow especifica se o conteudo deve ser cortado ou se deve ser adicionado uma barra de rolagem quando o conteudo de um elemento é muito grande pra caber na área especificada. O HIDDEN faz com que seja cortado e o restante do conteudo fica invisível */
    box-shadow: 1px 2px 10px 0px #272C34;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    position: relative;
    /*é posicionado em relação à sua posição normal.Definir as propriedades superior, direita, inferior e esquerda de um elemento relativamente posicionado fará com que ele seja ajustado para longe de sua posição normal*/
    overflow: hidden;
    clip-path: circle(90px at 90px 90px);
    /*permite recortar um elemento em uma forma básica*/
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.ceu {
    position: absolute;
    background: rgb(96, 216, 232);
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 124px;
    animation: sky-turns-black 4s infinite;
}

.sol {
    position: absolute;
    z-index: 2;
    top: 7px;
    left: 73px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: rgb(219, 234, 56);
    transform-origin: 50% 400%;
    animation: sun-goes-down 4s infinite;
}

.lado-esquerdo {
    position: absolute;
    top: 67px;
    left: 35px;
    height: 57px;
    width: 116px;
    background: #F4F4F4;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    animation: pyramide-shading 4s infinite;
}

.lado-direito {
    position: absolute;
    top: 67px;
    left: 93px;
    height: 57px;
    width: 58px;
    background: #DDDADA;
    clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
    animation: pyramide-shading 4s infinite reverse;
}

.sombra {
    position: absolute;
    z-index: 2;
    top: 124px;
    left: -80px;
    height: 30px;
    width: 360px;
    background: rgba(0, 0, 0, 0.2);
    transform-origin: 50% 0%;
    clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
    animation: shadow-on-the-floor 4s infinite;
}

.areia {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: #F0DE75;
    animation: fading-sand 4s infinite;
}

@keyframes sun-goes-down {
    0% {
        background: #f57309e2;
        transform: rotate(-70deg);
    }

    30% {
        background: #ffee00dd;
        transform: rotate(-28deg);
    }

    70% {
        background: #F57209;
    }

    100% {
        background: #F57209;
        transform: rotate(70deg);
    }
}

@keyframes sky-turns-black {
    0% {
        background: #272C34;
    }

    30% {
        background: #7DDFFC;
    }

    70% {
        background: #7DDFFC;
    }

    100% {
        background: #272C34;
    }
}

@keyframes pyramide-shading {
    0% {
        background: #272C34;
    }

    30% {
        background: #F4F4F4;
    }

    70% {
        background: #DDDADA;
    }

    100% {
        background: #272C34;
    }
}

@keyframes shadow-on-the-floor {
    0% {
        transform: scaleY(0);
        clip-path: polygon(115px 0%, 231px 0%, 100% 100%);
    }

    30% {
        transform: scaleY(1);
        clip-path: polygon(115px 0%, 231px 0%, 80% 100%);
    }

    55% {
        transform: scaleY(.4);
    }

    75% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
        clip-path: polygon(115px 0%, 231px 0%, 0% 100%);
    }
}

@keyframes fading-sand {
    0% {
        background: #272C34;
    }

    30% {
        background: #F0DE75;
    }

    70% {
        background: #F0DE75;
    }

    100% {
        background: #272C34;
    }
}